<?xml version="1.0" encoding="utf-8" ?>
<serilog>
    <using>
        <add name="Serilog.Sinks.File" />
    </using>

    <minimumLevel default="Verbose"></minimumLevel>

    <writeTo>
        <sink name="File">
            <arg name="path" value="test_serilog.log" />
            <arg name="shared" value="true" />
        </sink>
    </writeTo>
</serilog>
