<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="repositorypath" value="$(Solutiondir)\packages" />
		<add key="disableSourceControlIntegration" value="true" />
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</solution>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
  <packageSources>
    <add key="STIB-MIVB Nexus Group" value="http://tsal-fsntbb01.stib-mivb.be:8081/repository/sso-nuget-group" />
  </packageSources>
</configuration>