<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2012-2017 Snowflake Computing Inc. All rights reserved.
-->
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
</packages>