name: DotNet Build and Test

# Triggers the workflow on push or pull request events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      logLevel:
        default: warning
        description: "Log level"
        required: true
      tags:
        description: "Test scenario tags"
        required: false

concurrency:
  # older builds for the same pull request numer or branch should be cancelled
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  DOTNET_VERSION: 6.0
  DOTNET_LEGACY_VERSION: 4.7.1

jobs:
  build-net:
    name: Build-Net
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: ['6.0.412']
        cloud_env: ['AZURE', 'GCP', 'AWS']
    steps:
      - uses: actions/checkout@v3
      #Setup .NET
      - name: Setup Dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - name: Decrypt Parameters
        shell: bash
        env:
           PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
           gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
            ./.github/workflows/parameters/parameters_${{ matrix.cloud_env }}.json.gpg > Snowflake.Data.Tests/parameters.json
      - name: Clean-up before build
        run: dotnet clean snowflake-connector-net.sln && dotnet nuget locals all --clear
      - name: Build Driver
        run: dotnet build snowflake-connector-net.sln /p:DebugType=Full

  build-framework:
    name: Build-Framework
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        cloud_env: ['AZURE', 'GCP', 'AWS']
    steps:
    - uses: actions/checkout@v3
    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v1
    - name: Restore packages
      run: nuget restore
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1
    - name: Decrypt Azure Parameters
      shell: bash
      env:
         PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
      run: |
         gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
          ./.github/workflows/parameters/parameters_${{ matrix.cloud_env }}.json.gpg > Snowflake.Data.Tests/parameters.json
    - name: Build with MSBuild
      run: msbuild snowflake-connector-net.sln -p:Configuration=Release

  test-windows:
    needs: [build-net, build-framework]
    name: Tests on Windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: ['net6.0', 'net472', 'net471']
        cloud_env: ['AZURE', 'GCP', 'AWS']
    steps:
      - uses: actions/checkout@v3
      - name: Setup Dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.412
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Before Test
        run: nuget install OpenCover -Version 4.6.519
      - name: Decrypt Parameters
        shell: bash
        env:
           PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
           gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
            ./.github/workflows/parameters/parameters_${{ matrix.cloud_env }}.json.gpg > Snowflake.Data.Tests/parameters.json
      - name: Run Opencover
        run: |
          cd Snowflake.Data.Tests
          ..\OpenCover.4.6.519\tools\OpenCover.Console.exe -target:"C:\Program Files\dotnet\dotnet.exe" -returntargetcode -targetargs:"test -f ${{ matrix.dotnet }} -v n" -register:user -filter:"+[Snowflake.Data]*" -output:"windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml" -oldStyle
        env:
          snowflake_cloud_env: ${{ matrix.cloud_env }}
          net_version: ${{ matrix.dotnet }}
      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: |
            Snowflake.Data.Tests\windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml
            Snowflake.Data.Tests\*.xml
      - name: Upload Test Performance Report
        uses: actions/upload-artifact@v3
        with:
          name: tests-performance
          path: Snowflake.Data.Tests\windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_performance.csv
      # - name: Upload coverage reports to Codecov
        # uses: codecov/codecov-action@v3
        # with:
          # # without the token code cov may fail because of Github limits https://github.com/codecov/codecov-action/issues/557
          # token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
          # fail_ci_if_error: true

  test-linux:
    needs: [build-net, build-framework]
    name: Tests on Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: ['net6.0']
        cloud_env: ['AZURE', 'GCP', 'AWS']
    steps:
      - uses: actions/checkout@v3
      - name: Setup Dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.412
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Decrypt Parameters
        shell: bash
        env:
           PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
           gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
            ./.github/workflows/parameters/parameters_${{ matrix.cloud_env }}.json.gpg > Snowflake.Data.Tests/parameters.json
      - name: Build Driver
        run: |
          dotnet restore
          dotnet build
      - name: Run Tests
        run: |
          dotnet test --no-build /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
        env:
          snowflake_cloud_env: ${{ matrix.cloud_env }}
          net_version: ${{ matrix.dotnet }}
      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: |
            ./*.json
            ./*.xml
      # - name: Upload coverage reports to Codecov
        # uses: codecov/codecov-action@v3
        # with:
          # # without the token code cov may fail because of Github limits https://github.com/codecov/codecov-action/issues/557
          # token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
          # fail_ci_if_error: true

  test-mac:
    needs: [build-net, build-framework]
    name: Tests on MAC
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: ['net6.0']
        cloud_env: ['AZURE', 'GCP', 'AWS']
    steps:
      - uses: actions/checkout@v3
      - name: Setup Dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.412
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Decrypt Parameters
        shell: bash
        env:
           PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
           gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
            ./.github/workflows/parameters/parameters_${{ matrix.cloud_env }}.json.gpg > Snowflake.Data.Tests/parameters.json
      - name: Build Driver
        run: |
          dotnet restore
          dotnet build
      - name: Run Tests
        run: |
          dotnet test --no-build /p:CollectCoverage=true /p:CoverletOutput='./macos_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.json'
        env:
          snowflake_cloud_env: ${{ matrix.cloud_env }}
          net_version: ${{ matrix.dotnet }}
      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: |
            ./macos_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.json
            ./*.json
            ./*.xml
      - name: Upload Test Performance Report
        uses: actions/upload-artifact@v3
        with:
          name: tests-performance
          path: Snowflake.Data.Tests/macos_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_performance.csv
      # - name: Upload coverage reports to Codecov
        # uses: codecov/codecov-action@v3
        # with:
          # # without the token code cov may fail because of Github limits https://github.com/codecov/codecov-action/issues/557
          # token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
          # fail_ci_if_error: true
