name: DotNet Build and Test

permissions:
  contents: read

# Triggers the workflow on push or pull request events but only for the master branch
on:
  push:
    branches: [ master, oauth_flows ]
  pull_request:
    branches: [ master, oauth_flows ]
  workflow_dispatch:
    inputs:
      logLevel:
        default: warning
        description: "Log level"
        required: true
      tags:
        description: "Test scenario tags"
        required: false

concurrency:
  # older builds for the same pull request number or branch should be cancelled
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

  # uncomment to run the tests sequentially
  # SEQUENTIAL_ENV: SEQUENTIAL_TEST_RUN

jobs:
  test-windows:
    name: Tests on Windows
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: ['net6.0', 'net7.0', 'net8.0', 'net9.0', 'net462', 'net471', 'net472', 'net48', 'net481']
        cloud_env: ['AZURE', 'GCP', 'AWS']
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: 17
            java-package: 'jre'
      - name: Setup Dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.x
            7.0.x
            8.0.x
            9.0.x
          dotnet-quality: 'ga'
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Setup dotnet-coverage
        run: dotnet tool install --global dotnet-coverage --version 17.8.4
      - name: Decrypt Parameters
        shell: bash
        env:
          PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
           ./.github/workflows/parameters/parameters_${{ matrix.cloud_env }}.json.gpg > Snowflake.Data.Tests/parameters.json
      - name: Decrypt RSA Key
        shell: bash
        env:
          PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
           ./.github/workflows/parameters/rsa_keys/rsa_key_dotnet_${{ matrix.cloud_env }}.p8.gpg > Snowflake.Data.Tests/rsa_key_dotnet_${{ matrix.cloud_env }}.p8
      - name: Build Driver
        run: |
          cd Snowflake.Data.Tests
          dotnet restore
          dotnet build -f ${{ matrix.dotnet }} '-p:DefineAdditionalConstants=SF_PUBLIC_ENVIRONMENT'
      - name: Run Tests
        run: |
          cd Snowflake.Data.Tests
          dotnet-coverage collect "dotnet test --framework ${{ matrix.dotnet }} --no-build --logger junit;LogFilePath=windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_results.junit.xml --verbosity normal" --output windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml --output-format cobertura --settings coverage.config
        env:
          snowflake_cloud_env: ${{ matrix.cloud_env }}
          net_version: ${{ matrix.dotnet }}
      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report_windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}
          path: Snowflake.Data.Tests\windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml
      - name: Upload Test Performance Report
        uses: actions/upload-artifact@v4
        with:
          name: tests-performance_windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}
          path: Snowflake.Data.Tests\windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_performance.csv
      - name: Upload test results to Codecov
        if: ${{!cancelled()}}
        uses: codecov/test-results-action@v1
        with:
            token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          # without the token code cov may fail because of Github limits https://github.com/codecov/codecov-action/issues/557
          token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
          fail_ci_if_error: true
          files: Snowflake.Data.Tests\windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml

  test-linux:
    name: Tests on Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: ['net6.0', 'net7.0', 'net8.0', 'net9.0']
        cloud_env: ['AZURE', 'GCP', 'AWS']
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: 17
            java-package: 'jre'
      - name: Setup Dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.x
            7.0.x
            8.0.x
            9.0.x
          dotnet-quality: 'ga'
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Setup dotnet-coverage
        run: dotnet tool install --global dotnet-coverage --version 17.8.4
      - name: Decrypt Parameters
        shell: bash
        env:
          PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
           ./.github/workflows/parameters/parameters_${{ matrix.cloud_env }}.json.gpg > Snowflake.Data.Tests/parameters.json
      - name: Decrypt RSA Key
        shell: bash
        env:
          PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
           ./.github/workflows/parameters/rsa_keys/rsa_key_dotnet_${{ matrix.cloud_env }}.p8.gpg > Snowflake.Data.Tests/rsa_key_dotnet_${{ matrix.cloud_env }}.p8
      - name: Build Driver
        run: |
          dotnet restore
          dotnet build '-p:DefineAdditionalConstants=SF_PUBLIC_ENVIRONMENT'
      - name: Run Tests
        run: |
          cd Snowflake.Data.Tests
          dotnet-coverage collect "dotnet test --framework ${{ matrix.dotnet }} --no-build --logger junit;LogFilePath=linux_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_results.junit.xml --verbosity normal" --output linux_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml --output-format cobertura --settings coverage.config
        env:
          snowflake_cloud_env: ${{ matrix.cloud_env }}
          net_version: ${{ matrix.dotnet }}
      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report_linux_${{ matrix.dotnet }}_${{ matrix.cloud_env }}
          path: Snowflake.Data.Tests/linux_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml
      - name: Upload Test Performance Report
        uses: actions/upload-artifact@v4
        with:
          name: tests-performance_linux_${{ matrix.dotnet }}_${{ matrix.cloud_env }}
          path: Snowflake.Data.Tests/linux_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_performance.csv
      - name: Upload test results to Codecov
        if: ${{!cancelled()}}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          # without the token code cov may fail because of Github limits https://github.com/codecov/codecov-action/issues/557
          token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
          fail_ci_if_error: true
          files: Snowflake.Data.Tests/linux_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml

  test-mac:
    name: Tests on MAC
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: ['net6.0', 'net7.0', 'net8.0', 'net9.0']
        cloud_env: ['AZURE', 'GCP', 'AWS']
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: 17
            java-package: 'jre'
      - name: Setup Dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.x
            7.0.x
            8.0.x
            9.0.x
          dotnet-quality: 'ga'
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Setup dotnet-coverage
        run: dotnet tool install --global dotnet-coverage --version 17.8.4
      - name: Decrypt Parameters
        shell: bash
        env:
          PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
           ./.github/workflows/parameters/parameters_${{ matrix.cloud_env }}.json.gpg > Snowflake.Data.Tests/parameters.json
      - name: Decrypt RSA Key
        shell: bash
        env:
          PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
           ./.github/workflows/parameters/rsa_keys/rsa_key_dotnet_${{ matrix.cloud_env }}.p8.gpg > Snowflake.Data.Tests/rsa_key_dotnet_${{ matrix.cloud_env }}.p8
      - name: Build Driver
        run: |
          dotnet restore
          dotnet build '-p:DefineAdditionalConstants=SF_PUBLIC_ENVIRONMENT'
      - name: Run Tests
        run: |
          cd Snowflake.Data.Tests
          dotnet-coverage collect "dotnet test --framework ${{ matrix.dotnet }} --no-build --logger junit;LogFilePath=windows_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_results.junit.xml --verbosity normal" --output macos_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml --output-format cobertura --settings coverage.config
        env:
          snowflake_cloud_env: ${{ matrix.cloud_env }}
          net_version: ${{ matrix.dotnet }}
      - name: Upload Code Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report_macos_${{ matrix.dotnet }}_${{ matrix.cloud_env }}
          path: Snowflake.Data.Tests/macos_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml
      - name: Upload Test Performance Report
        uses: actions/upload-artifact@v4
        with:
          name: tests-performance_macos_${{ matrix.dotnet }}_${{ matrix.cloud_env }}
          path: Snowflake.Data.Tests/macos_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_performance.csv
      - name: Upload test results to Codecov
        if: ${{!cancelled()}}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          # without the token code cov may fail because of Github limits https://github.com/codecov/codecov-action/issues/557
          token: ${{ secrets.CODE_COV_UPLOAD_TOKEN }}
          fail_ci_if_error: true
          files: Snowflake.Data.Tests/macos_${{ matrix.dotnet }}_${{ matrix.cloud_env }}_coverage.xml

  test-rockylinux9:
    name: Test Rocky Linux 9 rockylinux9-${{ matrix.dotnet }}-${{ matrix.cloud_env }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet: ['net6.0', 'net7.0', 'net8.0', 'net9.0']
        cloud_env: ['AZURE', 'GCP', 'AWS']
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            6.0.x
            7.0.x
            8.0.x
            9.0.x
          dotnet-quality: 'ga'
      - name: Show .NET info
        shell: bash
        run: |
          dotnet --version
          dotnet --list-sdks
      - name: Setup parameters file
        shell: bash
        env:
          PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
          .github/workflows/parameters/parameters_${{ matrix.cloud_env }}.json.gpg > Snowflake.Data.Tests/parameters.json
      - name: Setup private key file
        shell: bash
        env:
          PARAMETER_SECRET: ${{ secrets.PARAMETER_SECRET }}
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase="$PARAMETER_SECRET" \
          .github/workflows/parameters/rsa_keys/rsa_key_dotnet_${{ matrix.cloud_env }}.p8.gpg > Snowflake.Data.Tests/rsa_key_dotnet_${{ matrix.cloud_env }}.p8
      - name: Run tests
        run: ./ci/test_rockylinux9_docker.sh ${DOTNET_TARGET_FRAMEWORKS}
        env:
          DOTNET_TARGET_FRAMEWORKS: ${{ matrix.dotnet }}
          snowflake_cloud_env: ${{ matrix.cloud_env }}
        shell: bash
      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results-rockylinux9-${{ matrix.dotnet }}-${{ matrix.cloud_env }}
          path: |
            test_results/**/unit_tests_*.trx
            test_results/**/integration_tests_*.trx
            TestResults/**/*.coverage
